<!DOCTYPE html>
<html lang="de">
<head>
    {{>head}}
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>Deise Website setzt die Technologie Node.js ein, und tauscht Daten mit mapbox.com und darksky.net durch API um.</p>
        <p>API ist die Abkürzung für <i>Application Programming Interface</i>, auf Deutsch ist ein API eine Programmschnittstelle. Über ein API können Entwickler auf die Funktionen einer Anwendung zugreifen.</p>
        <p>In diesem Fall werden Standort- und Wetterinformazionen übermittelt.</p>
    </div>
    {{>footer}}
</body>
</html>