<!DOCTYPE html>
<html lang="de">
<head>
  {{>head}}
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>Benutzen Sie diese Seite um eine Wettervorhersage zu erhalten!</p>

        <form action="">
            <input type="text" placeholder="Location">
            <button>Suche</button>
        </form>

        <p id="message-1"></p>
        <p id="message-2"></p>
        <p id="message-3"></p>
        <p id="message-4"></p>

    </div>

    {{>footer}}
    <script src="/js/app.js"></script>
</body>
</html>